<h3>My Lists</h3>
<% current_user.lists.each do |list| %>
  <hr>
  <div class="well"><h5><a href="/lists/<%= list.slug %>"><%= list.name %></a> created by <%= list.user.username %></h5>
  <h6><%= list.bookmarks.length %> bookmarks in this list.</h6>
  <% if list.user == current_user %>
    <a href="/lists/<%= list.slug %>/edit">Edit List</a>
  <% end %>
  </div>
<% end %>