<h4>All Links</h4>
<% @bookmarks.reverse_each do |bookmark| %>
  <% unless bookmark.secret %>  
  
    <form method="POST" action="/bookmarks/:slug/edit" class="well">
      <a class="testing" href="<%= bookmark.link %>"><%= bookmark.name %></a>
      <% if bookmark.description %>
        <p class="testing"><%= bookmark.description %></p>
      <% end %>
      <p>Created on <%= bookmark.created_at.to_s.split(" ")[0] %><% if bookmark.user %> by <a href="bookmarks/user/<%= bookmark.user.slug %>"><%= bookmark.user.username %></a><% end %></p>
      <% if bookmark.user == current_user %>
        <a class="btn btn-default" href="/bookmarks/<%= bookmark.slug %>/edit" role="button">Edit</a>
        <a class="btn btn-default" href="/bookmarks/<%= bookmark.slug %>/delete" role="button">Delete</a>
      <% end %>
      <% if !bookmark.tags.empty? %>
        <br><h5 style="display:inline">Tags</h5>
        <% bookmark.tags.each do |tag| %>
          <a href="tags/<%= tag.slug %>"><%= tag.name %></a>
        <% end %>
      <% end %>
    </form>
  <% end %>
<% end %>