<!DOCTYPE html>
<html>
  <head>
    <title>linkfiend layout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

      <!-- Static navbar -->
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" class="testing" style="font-family: monospace; font-size: 2.5em; font-weight: bold">linkfiend</a>
        <% if logged_in? %>
          
        </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li>
                <a href="/my_bookmarks" style="color: rgb(97,180,145);font-family: monospace;font-size: 1em; font-weight:bold">My Links</a>
              </li>
              <li>
                <a class="navbarblue" href="/bookmarks/new" style="color: rgb(97,180,145);font-family: monospace;font-size: 1em; font-weight:bold"> New Link</a>
              </li>
              <li>
                <a class="navbarblue" href="/" style="color: rgb(97,180,145);font-family: monospace;font-size: 1em; font-weight:bold"> All Links</a>
              </li>
              <li>
                <a class="navbarblue" href="/lists/new" style="color: rgb(97,180,145);font-family: monospace;font-size: 1em; font-weight:bold"> New List</a>
              </li>
              <li>
                <a class="navbarblue" href="/lists/my" style="color: rgb(97,180,145);font-family: monospace;font-size: 1em; font-weight:bold"> My Lists</a>
              </li>
              <li>
                <a class="navbarblue" href="/lists" style="color: rgb(97,180,145);font-family: monospace;font-size: 1em; font-weight:bold"> All Lists</a>
              </li>
              <li>
                <a class="greeting" style="color: rgb(97,180,145) ; font-family: monospace; font-size: 1em; font-weight:bold;"><u>Welcome, <%= current_user.username %></u></a>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  
                    
                    <a href="/login" class="dropdown-toggle" data-toggle="dropdown"><%= current_user %> Menu <span class="glyphicon glyphicon-cog"> </span></b></a>

              <ul class="dropdown-menu">
                  <li><a href="/login/form">Placeholder</a></li>
                  <li class="divider"></li>
                  <li><a href="/logout">Logout</a></li>
              </ul>
            </li>
          </ul>
        <% end %>
        </div><!--/.nav-collapse -->

      </nav>

      <div>
            <%if @error then %>
                <div class="alert alert-error"><%=@error%></div>
            <% end %>
              <% if flash.has?(:message) %>
                <%= flash[:message] %>
              <% end %>

            <%= yield %>
      </div>

  </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/vendor/jquery-1.9.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>